.upload-button {
    background-color: #6f3096;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.4rem;
    margin: 4px 2px;
    cursor: pointer;
}

@media screen {
    img {
        max-width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    .upload-button {
        font-size: 1.2rem;
    }
    img {
        height: 60%;
    }
}
