.content {
    background-color: #6f3096;
    padding: 5rem;
}

@media screen and (max-width: 768px) {
    .content {
        padding: 2rem;
    }
}

.upload-card {
    padding: 4rem;
}

@media screen and (max-width: 768px) {
    .upload-card {
        padding: 2rem;
    }
}

.upload-button {
    background-color: #6f3096;
    border: none;
    color: white;
    padding: 0.7rem 2.6rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.4rem;
    margin: 4px 2px;
    cursor: pointer;
}

.upload-text {
    font-size: 1.5rem;
}
@media screen and (max-width: 768px) {
    .upload-text {
        /* center text */
        text-align: center;
    }
}
