.upload-button {
    background-color: #6f3096 !important;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.4rem;
    margin: 4px 2px;
    cursor: pointer;
}

.modal-title {
    color: #6f3096;
}

.modal-form {
    margin: 2rem;
}

@media screen and (max-width: 768px) {
    .modal-title {
        font-size: 1.5rem;
        padding: 1rem;
    }

    .upload-button {
        font-size: 1rem;
    }

    .modal-logo {
        width: 7.5rem;
        height: 2.5rem;
    }

    .modal-form {
        margin: 1rem;
        padding: 2rem;
    }
}

@media screen and (min-width: 992px) {
    .modal-title {
        font-size: 2rem;
        padding: 1rem;
    }

    /* body > div.fade.modal.show > div {
        padding: 5rem;
    }*/

    /* body > div.fade.modal.show > div > div > div.modal-body > form {
        padding: 4rem 2rem;
    }

    .upload-button {
        margin-top: 2rem !important;
    } */

    /* add margin bottom to modal button */
    body > div.fade.modal.show > div > div > div.modal-body > form > div.d-flex.flex-column.align-items-center.justify-content-center > button {
        margin-bottom: 0.4rem !important;
    }

}

/* Add margin bottom to modal button for smaller screens */
@media screen and (max-width: 992px) {
    body > div.fade.modal.show > div > div > div.modal-body > form > div.d-flex.flex-column.align-items-center.justify-content-center > button {
        margin-bottom: 0.4rem !important;
    }
}
